<div class="container">
  <h3>Stanze Libere</h3>
  <table class="table table-hover" style="border-radius: 50px">
    <tbody>
      <tr *ngFor="let stanza of stanze">
        <td>
          <ul>
            <li>
              <p class="bold">Tipologia:</p>
              {{ stanza.tipologia }}
            </li>
            <li>{{ stanza.descrizione }}</li>
          </ul>
        </td>
        <td>
          <p id="prez">{{ stanza.prezzo }} $</p>
        </td>
        <td>
          <button class="btn" (click)="clicco(stanza)" [disabled]="btnDis[stanza.id]">{{ btnDis[stanza.id] ? "Prenotata" : "Prenota"}}</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <h3>Stanze Prenotate</h3>
  <table class="table table-hover">
    <tbody>
      <tr *ngFor="let stanza of add">
        <td>
          <ul>
            <li>Tipologia {{ stanza.tipologia }}</li>
            <li>{{ stanza.descrizione }}</li>
            <li>
              <p class="bold">Incasso:</p>
              {{ stanza.prezzo | currency : "EUR" }}
            </li>
          </ul>
        </td>
        <td>
          <button class="rim" (click)="cliccaRimuovi(stanza)">Rimuovi</button>
        </td>
      </tr>
      <tr class="tot">
        <td class="bold">Prezzo Totale:</td>
        <td>{{ tot }}</td>
      </tr>
    </tbody>
  </table>
</div>

<router-outlet />
